@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
html {
    height: 100%;
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.wrapper {
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("image/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
/* Header */
.container1 {
    width: 80%;
    margin: auto;
    overflow: hidden
}
header {
    background: rgba(255,135,170,.7);
    color: #fff;
    padding-top: 10px;
    margin-bottom: 30px;
    min-height: 50px;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header a:hover {
    color: #eec0ea;
}
header ul {
    margin: 0;
    padding: 0;
}
header li {
    float: left;
    display: inline;
    padding: 12px 20px 0 20px;
}
header .header {
    float: left;
}
header .header h1 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-transform: uppercase;
    margin: 0;
}
header nav {
    float: right;
}



/* Body */
.container2 {
    width: 80%;
    margin: 0 auto;
}
.search {
    display: block;
    color: #fff;
    width: 100%;
}
#input {
    background: rgba(255,135,170,.7);
    color: #fff;
    font-size: 16px;
    padding: 12px 5px;
    border: 0;
    box-sizing: border-box;
    margin-bottom: 12px;
    width: 100%;
}
#input:focus {
    outline: none;
}
#input::placeholder {
    color: #ddd;
}
table {
    border-color: transparent;
}
#table {
    border: 1px solid rgba(255,135,170,.7);
    border-spacing: 0;
    width: 100%;
    /*table-layout: fixed;*/
}
th {
    background-color: rgba(255,135,170,.7);
    padding: 10px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
}
.date, .sub {
    width: 5%;
}
.title { width: 20%; }
.member { width: 25%; }
.type { width: 10%; }
.added {
    width: 10%;
    text-align: center;
}
th:hover {
    color: #eec0ea;
}
.show {
    background: rgba(219, 70, 151,.3);
}
.show:hover {
    background: rgba(238,192,234,.7);
}
.show td, .noneFound td  {
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    word-wrap: break-word;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.show td:last-child {
    text-align: center;
}
.show.expand {
    background: rgba(255,105,180, .7);
}
.info {
    background: rgba(255,105,180, .7);
    font-size: 12px;
    width: 100%;
}
.info table {}
.info td {
    color: #fff;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.info td td {
    word-wrap: break-all;
    border-bottom: 0;
}
.info .desc, .info a {
    color: #ddd;
}


/* Footer */

.credits {
    text-align: center;
    font-size: 10px;
    color: #fff;
    margin-top: 30px;
}
.credits a {
    color: #fff;
    text-decoration: none;
}
.credits a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::selection {
    background: pink;
}

/* Other Devices */
